body {
  font-family: "inter", sans-serif;
  background-color: rgb(213, 201, 201);
}

::selection {
  background: none;
}

.calculator {
  box-shadow: 5px 5px 12px #574f4f;
  margin: 19vh auto;
  border: 10px solid rgb(62, 41, 66);
  display: grid;
  /* account for widest digit being 8 with the - */
  /*
  account for reverse floating percision when -888888888 is used repeatedly with % operator, so it does not overflow the screen and when +e is followed by 3 digit number*/
  width: 26.5em; 
  grid-template-columns: repeat(4, 1fr);
  /* update 6-> desired number of rows to add more ops*/
  grid-template-rows: repeat(6, minmax(3.8em, auto));
  background-color: black;
  gap: 3px;
  border-radius: 0.4em;
}

.screen {
  display: flex;
  height: 7em;
  grid-column: span 4;
  background-color: rgb(64, 49, 49);
  margin-bottom: 4px;
  justify-content: flex-end;
}

.screen span {
  align-self: center;
  color: rgb(212, 222, 201);
  font-size: 3em;
  margin: 0 4px;
}

button {
  font-size: 1.6em;
  border-radius: 0.14em;
  border: 1px solid black;
  background-color: hsl(0, 24%, 80%);
  transition: 120ms ease-in-out all;
}

.op {
  background-color: #ffa500;
  font-size: 1.8em;
}

.sec-op {
  background-color: #8c6acf;
}

button:hover {
  cursor: pointer;
}

.click {
  transform: translateY(0.6px);
}

.dig-click {
  background-color: hsl(0, 24%, 70%);
}

.op-click {
  background-color: #ca8c18;
}

.sec-op-click {
  background-color: #7b57c4;
}

span.err {
  font-size: 2.5em;
}